td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  background-color: #4caf50;
}

.paginate-container {
  display: inline-block;
}

.paginate-container a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}

.paginate-container a.active {
  background-color: #4caf50;
  color: white;
}

.paginate-container a:hover:not(.active) {
  background-color: #ddd;
}
